Source: com.github.VocalPodcastProject.vocal
Section: sound
Priority: optional
Maintainer: Nathan Dyer <mail@nathandyer.me>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               libgee-0.8-dev,
               libgtk-4-dev (>= 4.0),
               libadwaita-1-dev,
               valac (>= 0.18.1),
               libxml2-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer-plugins-bad1.0-dev,
               libsqlite3-dev,
               libsoup3.0-dev,
               libsecret-1-dev
Standards-Version: 3.9.3

Package: com.github.VocalPodcastProject.vocal
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Vocal
 Simple podcast client for the modern desktop.
