[Desktop Entry]
Type=Application
Name=Vocal
_Comment=Subscribe, download, and listen to podcasts
_GenericName=Podcast Manager
Exec=vocal
Icon=com.github.needle-and-thread.vocal
Terminal=false
Categories=AudioVideo;Audio;Video;
X-PulseAudio-Properties=media.role=music
Actions=AboutDialog;

Name[en_US]=com.github.needle-and-thread.vocal.desktop.in.in

[Desktop Action AboutDialog]
Exec=vocal --about
_Name=About Vocal
