[Desktop Entry]
Type=Application
Name=Vocal
Comment=Subscribe, download, and listen to podcasts
GenericName=Podcast Manager
Exec=com.github.needleandthread.vocal
Icon=com.github.needleandthread.vocal
Terminal=false
Categories=AudioVideo;Audio;Video;
X-PulseAudio-Properties=media.role=music
Actions=AboutDialog;

Name[en_US]=Vocal

[Desktop Action AboutDialog]
Exec=com.github.needleandthread.vocal --about
Name=About Vocal
